# macOS
.DS_Store
.AppleDouble
.LSOverride
*.swp
*.swo
*~
.vscode/settings.json

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Common
.env
.venv
node_modules/
dist/
build/
*.log
.idea/
*.iml